#map{
    border: 4px solid #17263c;
    min-width: 100%;
    min-height: 100vh;
}
.InfoWindowProject {
    max-width: 200px !important;
    text-align: center;
    color: #fff;
    background-color: #35b11a !important;
}
.InfoWindowProject img{
    z-index: 4;
    padding: 40px 20px 0px 20px;
    max-height: 130px;
    margin-top: -20px;
}
.InfoWindowProject2 {
    text-align: center;
    color: #fff;
    background-color: #fe7530 !important;
}
.InfoWindowProject2 img{
    z-index: 4;
    padding: 40px 20px 0px 20px;
    max-height: 130px;
    margin-top: -20px;
}
.card-body{
    padding-top: 0 !important;
    z-index: 4 !important;
}
.card-body h5{
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 0px;
    color: #fff;
}

.volna {
    position: absolute;
    bottom: -1px;
    left: -1px;
    background-color: #20408c;
    transform: rotate(180deg);
    height: 73%;
}
.gm-style-iw {
    border-radius: 50px !important;
    overflow: visible !important;
    padding: 0 !important;
}

.gm-style-iw div {
    overflow: visible !important;
    width: 102%;
    border-bottom-left-radius:  51px !important;
    border-bottom-right-radius:  51px !important;
    border-top-left-radius:  31px !important;
    border-top-right-radius:  31px !important;
}

.gm-style-iw > button {
    display: none !important;
  }


.btn-success {
    background-color: #3faf26 !important;
    border-radius: 40px !important;
    max-width: 100px !important;
    padding: 10px !important;
    font-size: 0.9em !important;
}
.InfoWindowProject2 .btn-success {
    background-color: #fe7530 !important;
    border-radius: 40px !important;
}

.knopkiBottomMap {
    position: absolute;
    bottom: 30%;
    right: 10%;
}
.knopkiBottomMap div{
    background-color: #10cd67;
    color: #fff;
}

.knopkiBottomMap div i{
    color: #fff;
}