.error_text {
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    color: #ff367e;
    display: none;
    margin-top: 5px;
}

.data_inputs_wrapper>.active{
    border: 2px solid red;
}

#profile-page-header-wrapper{
    background-color: white!important;
}

.iq-menu-bt-profile{
    display: none!important;
}

.password_code_to_email_wrapper{
    display: none;
}

.certificate_content_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.certificate_title_wrapper{
    margin-bottom: 10px;
}

.change_password_wrapper{
    margin-bottom: 70px;
}

.cancel_product_data{
    margin-right: 30px;
    -webkit-border-radius: 60px;
    border-radius: 60px !important;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 17px!important;
    padding: 9px 10px!important;
    text-align: center;
    text-decoration: none;
}
.cancel_product_data2{
    margin-right: 0px;
    -webkit-border-radius: 60px;
    border-radius: 60px !important;
    border: none;
    color: #eeeeee;
    cursor: pointer;
    display: inline-block;
    font-family: sans-serif;
    font-size: 17px!important;
    padding: 9px 10px!important;
    text-align: center;
    text-decoration: none;
}

@media (max-width: 398px){
    
    .cancel_product_data{
       
      margin-bottom: 20px;
      margin-left: 30px;

    }

}

.use_certificate_code_wrapper{

    display: none; 
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    animation-name: a;
    animation-duration: 0.4s;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    padding-top: 100px;
    overflow: auto;
    -webkit-animation-name: a;
    -webkit-animation-duration: 0.4s;
    -moz-animation-name: a;
    -o-animation-name: a;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;

}

.use_certificate_content_form{
    
    max-width: 608px;
    width: 100%;
    margin: 60px auto;
    background: #4CBFFE;
    border-radius: 20px;
    padding: 28px 90px 31px;
    position: relative;

}

.certificate_modal_inputs_field{
    margin-bottom: 15px;
}

.certificate_field_title{
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white;
    margin-bottom: 8px;
}

.code_for_use_certificate_wrapper{
    max-width: 407px;
    width: 100%;
    background: #e7e3e3;
    border: 1px solid white;
    outline: none;
    cursor: pointer;
    padding: 12px;
    border-radius: 6px;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    color: white;
    margin-bottom: 15px;
}

.add_certificate_modal_btns_wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.add_certificate_cancel_btn {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #f15773;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

.add_certificate_ready_btn {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    border: none;
    outline: none;
    cursor: pointer;
    color: #fff;
    background-color: #3eff74;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

.used_certificate_btn{
    display: none!important;  
  
}
.used_disposable_certificate_btn{
    display: none!important;
}

.confirm_mail_modal_wrapper{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    animation-name: a;
    animation-duration: 0.4s;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    padding-top: 100px;
    overflow: auto;
    -webkit-animation-name: a;
    -webkit-animation-duration: 0.4s;
    -moz-animation-name: a;
    -o-animation-name: a;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
}

.confirm_mail_modal_content{
    max-width: 608px;
    width: 100%;
    margin: 60px auto;
    background: white;
    border-radius: 20px;
    padding: 28px 90px 31px;
    position: relative;
}

.confirm_mail_modal_cancel{
    position: absolute;
    right: 22px;
    top: 21px;
    cursor: pointer;
}

.open{
    display: block!important;
}

.password_input_icons_wrapper{
    width: 100%;
    position: relative;
}

.password_show_icon{
    position: absolute;
    right: 14px;
    bottom: 10px;
    display: none;
}

.password_hide_icon{
    position: absolute;
    right: 14px;
    bottom: 10px;
    display: none;
}

.chat-data-block-content-wrapper{
    justify-content: center;
}
.user-message-firstname{
    margin-left: 10px;
}

.chat-attagement{
    cursor: pointer;
}

.exchanger_li_btn{
    margin-left: -25px;
}

.pay_exchange_btn {
    color: white!important;
}

.menuToptowar{
    cursor: pointer;
}

.add_certificate_modal{
    display: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    animation-name: a;
    animation-duration: 0.4s;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    padding-top: 100px;
    overflow: auto;
    -webkit-animation-name: a;
    -webkit-animation-duration: 0.4s;
    -moz-animation-name: a;
    -o-animation-name: a;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
}

.add_certificate_content{
    max-width: 608px;
    width: 100%;
    margin: 60px auto;
    background: #4CBFFE;
    border-radius: 20px;
    padding: 28px 90px 31px;
    position: relative;
}

.add_certificate_data_form{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add_certificate_modal_input_field{
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    width: 100%;
    margin-bottom: 25px;
}

.sign_in_label{
    cursor: pointer;
    width: 33%;
}

.add_certificate_modal_input_title{
    font-style: normal;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}

.add_certificate_modal_input_error_text_wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.add_certificate_input{
  
    border-radius: 6px;
    border: none;
    max-width: 300px;
    width: 100%;
    padding: 5px;
    cursor: pointer;
    outline: 0;
    color: black;
    margin-bottom: 8px;
}

.add_certificate_select{
    background: #fbfbff;
    border-radius: 6px;
    border: none;
    padding: 12px;
    max-width: 200px;
    width: 100%;
    cursor: pointer;
    outline: 0;
    color: black;
    margin-left: 15px;
}

.add_certificate_btns_wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.not_certificate_show{
    font-style: normal;
    font-size: 20px;
    font-weight: 400;
    font-family: Roboto, sans-serif;
}

@media (max-width: 900px){
    
    .product_data_price{
      margin-left: 20px;
      font-size: 15px;
    }

    .product_data_title{
        font-size: 15px;
    }

}

.use_disposable_certificate_code_wrapper{
    display: none; 
    width: 100%;
    height: 100%;
    background-color: #000;
    background-color: rgba(0, 0, 0, 0.7);
    animation-name: a;
    animation-duration: 0.4s;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    padding-top: 100px;
    overflow: auto;
    -webkit-animation-name: a;
    -webkit-animation-duration: 0.4s;
    -moz-animation-name: a;
    -o-animation-name: a;
    -moz-animation-duration: 0.4s;
    -o-animation-duration: 0.4s;
}

.use_disposable_certificate_content_form{
    max-width: 608px;
    width: 100%;
    margin: 60px auto;
    background: #4CBFFE;
    border-radius: 20px;
    padding: 28px 90px 31px;
    position: relative;
}

@media (max-width: 900px){
    
    .product_data_price{
      margin-left: 20px;
      font-size: 15px;
    }

    .product_data_title{
        font-size: 15px;
    }

    .add_certificate_btns_wrapper>.pay_exchange_btn{
      margin-left: 15px!important;
    }

    .add_certificate_modal_input_field{
        flex-direction: column!important;
    }

    .add_certificate_select{
        max-width: 250px!important;
    }

}

.nav-item>.general_link{
    color: #3a57e8!important;
}

.fullPage{
    position: absolute;
      top: 11%;
      right: 4.5%;
      color: white;
      z-index: 1000000000;
      font-size: 30px;
  
  }