.menuBottomMain p{

    margin-right: 10px;

    text-align: right !important;

    margin-bottom: 0px;

}

.li2botMenu {

    margin-left: 10px;

    margin-right: 10px;

}



.li1botMenu {

    margin-left: -20px !important;

}



.menuTopSvertnut {

    position: absolute;

    top: 3%;

    left: 3%;

    color: #fff;

    z-index: 900;

}

.pointuTopMenu {

    position: absolute;

    top: 3%;

    right: 3%;

    background-color: #004aa8;

    color: #fff;

    padding: 2px;

    border-radius: 25px;

    border: 2px solid #0b77ff;

}



.pointuTopMenu img{

    margin-left: 10px;

    height: 17px;

}

.pointuTopMenu span{

    font-size: 0.9em;

    margin-right: 10px;

    margin-left: 35px;

}



.bottomMenuKnopki {

    position: absolute;

    bottom: 12%;

    right: 3%;

    z-index: 100;

}



.bottomMenuKnopki div svg{

    background-color: #004aa8;

    color: #fff;

    width: 50px;

    padding: 8px;

    border-radius: 25px;

    border: 2px solid #0b77ff;

}



.nav-link span{

    color: #fff !important;

}



.bottomMenuMain {

    border-top: 2px solid #0b77ff;

    background-color: #004aa8 !important;

    width: 100%;

    height: 50px;

}

.bottomMenuMain .row{

    margin-bottom: 0px;

    padding-bottom: 0px;

}



.bottomMenuMainP {

    color: #fff;

    text-align: center;

    line-height: 20px;

    font-size: 11px;

}

.bottomMenuMainP svg{

    height: 30px;

    padding-top: 3px;

}



.my-bottom-toolbar { 

    bottom: 0px;

    position: fixed;

}



@supports (-webkit-overflow-scrolling: touch) {

    /* CSS specific to iOS devices */

    .my-bottom-toolbar {

        box-shadow: 0 44px 0 rgba(255, 255, 255, 0.8);

        transition: bottom 0.15s ease-in-out; 

    }

    .safari-toolbars-hidden .my-bottom-toolbar {

        bottom: 44px;

    }

}